
.name{
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
.dp{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
body {
    background-image: url('b4.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

}
.data{
    display:flex;
    color:#2ebf94;
    width: 1000px;
    justify-content: center;
    align-items: center;
    height: 500px;
    font-family: Verdana, Geneva, Tahoma, sans-serif4
}
.outer{
    display: flex;
    justify-content: center
    
}
.left{
    margin: 10%;   
}
.description{

}