
.name{
    display: flex;
    font-family: sans-serif;
}
.dp{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.gith{
    height: 50px;
    width: 50px;
    
}
body {
    background-image: url('images/b4.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

}
.data{
    display:flex;
    color:grey;
    width: 750px;
    border-radius: 50px;
    border: 5px solid grey;
    justify-content: center;
    align-items: center;
    height: 500px;
    font-family: sans-serif;
    margin-top: 80px;
    margin-bottom: auto;
}
.outer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.l1{
    display: block;
    width: 200px;
}
.l2{
    display: block;
}
.lists{
    display: flex;
}
.left{
    margin: 10%;   
}
.right{
    width: 700px;
}
